[submodule "sites/all/modules/patched/media"]
	path = sites/all/modules/patched/media
	url = http://github.com/szantog/panparks-media.git
[submodule "sites/all/modules/custom/fieldgroup_menu"]
	path = sites/all/modules/custom/fieldgroup_menu
	url = http://git.drupal.org/sandbox/szantog/1263502.git
[submodule "sites/all/modules/patched/geocode"]
	path = sites/all/modules/patched/geocode
	url = http://github.com/phayes/geocode.git
[submodule "sites/all/modules/patched/media_browser_plus"]
	path = sites/all/modules/patched/media_browser_plus
	url = http://github.com/szantog/panparks-media-browser-plus.git
