# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

error_log
*~
*.orig
*.patch
LICENSE.txt
backups/*
tmp/*
files/*
sites/default/files/*
sites/default/settings.php
lorem.txt
*~
\#*
.#*
*.sh
sites/all/modules/custom_features/untracked_variables_fr/
/docs/
dump.*
.htaccess
*.log
.idea/*

