[submodule "sites/all/modules/patched/media"]
	path = sites/all/modules/patched/media
	url = http://github.com/szantog/panparks-media.git
[submodule "sites/all/modules/custom/fieldgroup_menu"]
	path = sites/all/modules/custom/fieldgroup_menu
	url = http://git.drupal.org/sandbox/szantog/1263502.git
[submodule "sites/all/modules/patched/media_browser_plus"]
	path = sites/all/modules/patched/media_browser_plus
	url = http://github.com/szantog/panparks-media-browser-plus.git
[submodule "sites/all/modules/custom/media_file_usage"]
	path = sites/all/modules/custom/media_file_usage
	url = http://git.drupal.org/sandbox/szantog/1277722.git
[submodule "sites/all/modules/custom/convert_to_media"]
	path = sites/all/modules/custom/convert_to_media
	url = http://git.drupal.org/sandbox/szantog/1281826.git
[submodule "sites/all/modules/patched/menu_position"]
	path = sites/all/modules/patched/menu_position
	url = http://github.com/szantog/panparks-menu-position.git
[submodule "sites/all/themes/panparks"]
	path = sites/all/themes/panparks
	url = http://github.com/szantog/panparks-theme.git
[submodule "sites/all/modules/patched/birdbox"]
	path = sites/all/modules/patched/birdbox
	url = http://git.drupal.org/sandbox/balint.kleri/1267834.git
[submodule "sites/all/modules/patched/geocoder"]
	path = sites/all/modules/patched/geocoder
	url = http://git.drupal.org/project/geocoder.git
[submodule "sites/all/modules/patched/views"]
	path = sites/all/modules/patched/views
	url = http://github.com/szantog/panparks-views.git
[submodule "sites/all/modules/patched/wysiwyg"]
	path = sites/all/modules/patched/wysiwyg
	url = http://github.com/szantog/panparks-wysiwyg.git
[submodule "sites/all/modules/patched/draggableviews"]
	path = sites/all/modules/patched/draggableviews
	url = http://github.com/szantog/panparks-draggableviews.git
[submodule "sites/all/modules/patched/media_gallery"]
	path = sites/all/modules/patched/media_gallery
	url = http://github.com/szantog/panparks-media-gallery.git
[submodule "sites/all/modules/custom/panparks_donate"]
	path = sites/all/modules/custom/panparks_donate
	url = http://github.com/szantog/panparks-donate.git
[submodule "sites/all/modules/patched/tokenized_overlay"]
	path = sites/alla/modules/patched/tokenized_overlay
	url = http://git.drupal.org/sandbox/balint.kleri/1286426.git
