
.nd-region-header {
  clear: both;
}

.nd-region-left {
  clear: left;
  float: left;
}

.nd-region-middle {
  clear: none;
}

.nd-region-right {
  float: right;
}

.nd-region-footer {
  clear: both;
}

/* default region dimensions */

.nd-region-left {
  width: 25%;
}

.nd-region-right {
  width: 25%;
}

/* middle region */

.nd-no-sidebars {
}

.nd-sidebar-left {
  margin-left: 25%;
  overflow: hidden;
}

.nd-sidebar-right {
  margin-right: 25%;
  overflow: hidden;
}

.nd-two-sidebars {
  margin-left: 25%;
  margin-right: 25%;
}
